@import '../../../assets/scss/mixins.scss';
.marvel {
	.mws-marvel-home{
		@include mq-medium {
			padding-right: 16px;
			padding-left: 16px;
			overflow: visible;
		}
		.container {
			@include mq-medium {
				.mws-swiper-card{
					margin-left: -16px;
					overflow: visible;
					margin-right: -16px;
				}
			}
		}
	}
}
