.search-list{
	width: 476px;
	border: 1px solid rgb(229, 231, 233);
	height: 500px;
	overflow: auto;
	position: absolute;
	top: 46px;
	background-color: white;
	padding: 16px;
	transition: all .3s ease;
	&.hide{
		opacity: 0;
		display: none;
	}
	.title{
		color: rgba(49, 53, 59, 0.96);
		font-size: 16px;
		margin: 16px 0px 4px;
	}
}
