.mws-card-horizontal {
	text-decoration: none;
	color: black;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
	&.columns {
		margin: 8px 0;
	}
	.info {
		text-align: left;
		.item-info{
			align-items: flex-start;
			display: flex;
			text-align: left;
			margin-bottom: 8px;
			&:nth-last-child(1){
				margin-bottom: 0;
			}
			.left-side{
				width: 100px;
				margin-right: 8px;
				flex-basis: auto;
				flex-grow: 0;
				flex-shrink: 0;
			}
			.info-content {
				flex-basis: auto;
				flex-grow: 1;
				flex-shrink: 1;
				text-align: left;
				&.urls {
					width: 200px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
