@import '../../../assets/scss/variables.scss';

.navbar-mws{
	border-bottom: 1px solid hsl(0, 0%, 86%);
	.navbar-start{
		&.middle{
			margin: 0 auto;
			width: 500px;
			.navbar-item{
				width: 100%;
			}
		}
	}
	.navbar-end{
		margin-left: 0;
	}
}
